  .ath-aside {
    border: 1px solid var(--ath-layer-accent-01);
    background-color: var(--ath-layer-02);
    position: relative;
    z-index: 100;

    .wrapper {
      left: 0;
      top: 0;
      position: sticky;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 8px;
      height: 100%;
      max-height: 100vh;
    }

    .top {
      img {
        width: 28px;
        height: auto;
      }
    }

    .middle {
      flex-grow: 1;
      width: 100%;
    }

    .bottom {
      width: 100%;
    }
  }