<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script type="module">
    import RefreshRuntime from 'http://[::1]:5143/@react-refresh';
    RefreshRuntime.injectIntoGlobalHook(window);
    window.$RefreshReg$ = () => { };
    window.$RefreshSig$ = () => (type) => type;
    window.__vite_plugin_react_preamble_installed__ = true;
  </script>

  <script type="module" src="http://[::1]:5143/@vite/client"></script>
  <script type="module" src="http://[::1]:5143/src/main.tsx"></script>
  <link rel="stylesheet" href="http://[::1]:5143/src/styles/main.scss">
</head>

<body>
  <div id="root"></div>
  <script type="data-props">[.content]</script>
</body>

</html>