.ath-email-field {

  .ath-field__label-wrapper {
    label {
      font-size: 12px;
      line-height: 1;
      color: var(--ath-text-secondary);
      display: inline-flex;
      padding-bottom: 10px;
    }
  }

  .ath-field__wrapper {
    position: relative;
    background-color: var(--ath-field-01);
    border-block-end: 1px solid var(--ath-field-border);

    input {
      padding-inline: 1rem;
      height: 40px;
      width: 100%;
      outline: none;
      border: none;
      border: none;
      color: var(--ath-text-primary);
      background-color: transparent;
      font-size: 14px;
    }
  }
}