.ath-toggle-field {

  &.ath-field--input .ath-field__wrapper {
    width: 100%;
    justify-content: flex-end;
    border-block-end: 1px solid var(--ath-field-border);
  }

  .ath-field__label-wrapper {
    label {
      font-size: 12px;
      line-height: 1;
      color: var(--ath-text-secondary);
      display: inline-flex;
      padding-bottom: 10px;
    }
  }

  .ath-field__wrapper {
    position: relative;
    height: 40px;
    display: inline-flex;
    align-items: center;

    .ath-field__toggle {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      background-color: var(--ath-field-01);

      height: 32px;
      width: 62px;

      &[data-checked] .ath-field__toggle-dot {
        transform: translateX(26px);
      }
    }

    .ath-field__toggle-dot {
      transform: translateX(0px);
      background-color: var(--ath-field-border);
      width: 24px;
      height: 24px;
      transition: transform 0.28s ease;
    }
  }
}