.ath-tile-code {
    padding: 1rem;
    max-width: 100%;
    position: relative;
    padding-right: 46px;

    .ath-tile-code__content {
        max-width: 100%;
        max-height: 32vh;
        overflow: auto;
    }

    .ath-tile-code__button {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }

    pre {
        margin: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    code {
        color: var(--ath-text-primary, #161616);
        font-size: 14px;
        line-height: 1.5;
        display: block;
    }

    &:not(.ath-tile--ghost) {
        background-color: var(--ath-layer-01, #fff);
        box-shadow: var(--ath-layer-shadow-01);
    }
}
