:root {
    @for $i from 1 through 6 {
        --ath-spacing-#{$i}: #{$i * 0.25rem};
    }
}

@for $i from 1 through 6 {
    .pt-#{$i} {
        padding-top: var(--ath-spacing-#{$i});
    }

    .pb-#{$i} {
        padding-bottom: var(--ath-spacing-#{$i});
    }

    .mb-#{$i} {
        padding-top: var(--ath-spacing-#{$i});
    }

    .mt-#{$i} {
        padding-top: var(--ath-spacing-#{$i});
    }
}
