:root {
  --ath-font-primary: "geist-sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ath-font-secondary: "hoves", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--ath-font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ath-block: 47px;
  --ath-ascent: #0f62fe;
  --ath-error: #fa4d56;

  // LAYERS
  // --ath-layer-01: #fff;
  // --ath-layer-hover-01: #e8e8e8;
  --ath-layer-accent-01: #e0e0e0;
  --ath-layer-shadow-01: rgba(0, 0, 0, 0.04) 0px 1px 2px 0px;

  // --ath-layer-02: #f4f4f4;

  // // FIELDS
  // --ath-ui-03: #e0e0e0;

  // --ath-field: #fff;
  // --ath-field-border: #8d8d8d;

  // --ath-field-shadow: rgba(0, 0, 0, 0.04) 0px 1px 2px 0px;

  // --ath-field-01: #f4f4f4;

  // --ath-border-subtle: #e0e0e0;
  // --ath-border-subtle-01: #c6c6c6;
  // --ath-border-strong: #8d8d8d;

  // // GLOBAL
  // --ath-background: transparent;
  // --ath-background-selected: #8d8d8d33;

  // --ath-text-secondary: #525252;
  --ath-text-primary: #161616;
  --ath-bg-primary: #f5f5f5;
}


@media (prefers-color-scheme: dark) {
  root {
    // LAYERS
    // --ath-layer-01: #262626;
    // --ath-layer-hover-01: #333333;
    --ath-layer-accent-01: #393939;

    // --ath-layer-02: #393939;

    // // FIELDS
    // --ath-field: #262626;
    // --ath-field-border: #6f6f6f;

    // --ath-field-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    //   rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    // --ath-field-01: #393939;

    // --ath-border-subtle: #393939;
    // --ath-border-subtle-01: #393939;
    // --ath-border-strong: #6f6f6f;

    // // GLOBAL
    // --ath-background: transparent;
    // --ath-background-selected: #8d8d8d33;

    // --ath-text-secondary: #c6c6c6;
    --ath-text-primary: rgb(244, 244, 244);
    --ath-bg-primary: #161616;
  }
}

html {
  color: var(--ath-text-primary);
  background-color: var(--ath-bg-primary);
  scrollbar-color: var(--ath-layer-hover-01) var(--ath-layer-01);
}