.ath-sheet {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    // border: 1px solid var(--ath-layer-accent-01);
    background-color: var(--ath-layer-01);
    z-index: 10000;
    height: 100vh;

    .ath-sheet__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 100vh;
    }

    .ath-sheet__header {
        padding: 0 1rem;
        height: var(--ath-block);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--ath-layer-accent-01);
    }

    .ath-sheet__body {
        flex-grow: 1;
        height: 100%;
        padding: 1rem;
    }

    .ath-sheet__footer {
        height: var(--ath-block);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--ath-layer-accent-01);

        button {
            width: 100%;
        }
    }
}

.ath-sheet__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}