<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/vite.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page | Hermis</title>
    <script type="module" src="http://[::1]:5142/@vite/client"></script>
    <script type="module" src="http://[::1]:5142/src/main.ts"></script>
    <link rel="stylesheet" href="http://[::1]:5142/src/styles/main.scss">
    <link rel="stylesheet" href="/public/fonts/font.css">
  </head>
  <body>
    |content|
  </body>
</html>
