.ath-header {
    height: 47px;
    border-bottom: 1px solid var(--ath-layer-accent-01);
    // margin-bottom: 1rem;

    .ath-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ath-header__left {
        display: flex;
        align-items: center;
        gap: 1rem;

        .ath-header__left-btn {
            display: flex;
        }

        .ath-btn-group {
            display: flex;
            border-right: 1px solid var(--ath-layer-accent-01);
        }

        .ath-header__breadcrumb {
            display: flex;
            align-items: center;
            gap: 6px;

            .ath-header__breadcrumb-item {
                display: flex;
                align-items: center;
                gap: 6px;
            }

            .ath-header__breadcrumb-separator {
                color: var(--ath-text-secondary);
                font-size: 14px;
                display: inline-flex;
            }

            a {
                color: var(--ath-text-primary);
                font-size: 14px;
                display: inline-flex;
                transition: color 0.48s ease;

                &.ath-header__current {
                    color: var(--ath-text-secondary);
                    pointer-events: none;
                }

                &:not(.ath-header__current):hover {
                    color: var(--ath-ascent);
                }
            }
        }
    }

    .ath-header__right {
        display: flex;
        align-items: center;
        gap: 1rem;

        .ath-header__separator {
            display: flex;
            align-items: center;

            span {
                display: inline-flex;
                width: 1px;
                height: 22px;
                background-color: var(--ath-layer-accent-01);
            }
        }

        .ath-header__row {
            display: inline-flex;
            align-items: center;
            gap: 0.28rem;

            img {
                width: 18px;
            }

            .ath-header__row-label {
                display: none;
            }

            .ath-header__row-value {
                color: var(--ath-text-secondary);
                font-size: 14px;
            }
        }
    }
}
