.ath-tabs {
  .ath-tabs__list {
    border-block-end: 2px solid var(--ath-layer-accent-01);
    margin-bottom: var(--ath-spacing-4);
  }

  .ath-tabs__button {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
    position: relative;
    color: var(--ath-text-primary);

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      opacity: var(--ww,0);
      height: 2px;
      background-color: var(--bg,transparent);
      will-change: width;
      transition: width 0.48s ease, background-color 0.48s ease;
    }

    &:hover {
      --ww: 1;
      --bg: var(--ath-border-strong);
    }
    
    &[data-selected] {
      --ww: 1;
      --bg: var(--ath-ascent);
    }
  }
}